@{
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en-US">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <title>Ride To Fun</title>

    <link rel="shortcut icon" href="~/Images/logo-biker.png">
    <!--  Mobile Viewport Fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Google WebFonts -->
    <link href='http://fonts.googleapis.com/css?family=Doppio+One' rel='stylesheet' type='text/css'>

    <!-- leaflet -->
    <script src="scripts/lib/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="scripts/lib/leaflet/leaflet.css" />

    <!-- json support -->
    <script src="scripts/lib/json2.js"></script>

    <!-- jquery -->
    <script src="scripts/lib/jquery/jquery-1.7.2.js"></script>

    <!-- jquery-ui -->
    <script src="scripts/lib/jquery-ui/js/jquery-ui-1.8.20.custom.min.js"></script>
    <link rel="stylesheet" href="scripts/lib/jquery-ui/css/smoothness/jquery-ui-1.8.20.custom.css" />

    <!-- raphael -->
    <script src="scripts/lib/raphael/raphael-min.js"></script>

    <!-- otp-specific imports -->
    <script src="scripts/otp/otp.js"></script>
    <script src="scripts/otp/locale/English.js"></script>
    <script src="scripts/otp/config.js"></script>
    <script src="scripts/otp/util/leaflet.js"></script>
    <script src="scripts/otp/util/Time.js"></script>
    <script src="scripts/otp/util/Logger.js"></script>
    <script src="scripts/otp/util/DataStorage.js"></script>
    <script src="scripts/otp/core/Webapp.js"></script>
    <script src="scripts/otp/core/Map.js"></script>
    <script src="scripts/otp/modules/Module.js"></script>
    <script src="scripts/otp/modules/bikeshare/BikeShareModule.js"></script>
    <script src="scripts/otp/modules/bikeshare/IconFactory.js"></script>
    <script src="scripts/otp/modules/park/ParkModule.js"></script>
    <script src="scripts/otp/modules/park/IconFactory.js"></script>
    <script src="scripts/otp/widgets/Widget.js"></script>
    <script src="scripts/otp/widgets/TripSummaryWidget.js"></script>
    <script src="scripts/otp/widgets/BikeTrianglePanel.js"></script>
    <script src="scripts/otp/widgets/BikeStationsWidget.js"></script>
    <script src="scripts/otp/widgets/InfoWidget.js"></script>
    <script src="scripts/retina.js"></script>

    <link rel="stylesheet" href="style.css" />

    <!-- make legacy Internet Explorer play nice(r) -->
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

    <!-- create the webapp at startups -->
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {
            new otp.core.Webapp();
        });
    </script>
    
    @* BEGIN - Google Analytics *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', '__gaTracker');

        __gaTracker('create', 'UA-42334265-1');
        __gaTracker('send', 'pageview');
        
    </script>
    @* END - Google Analytics *@

</head>
<body>

    <header id="branding" role="banner" class="clearfix">

        <hgroup id="logo">
            <img id="imglogol" alt="Logo Open North" src="./images/logo-biker.png" />
            <img id="imglogoc" alt="Logo Open North" src="./images/logo.png" />
            <img id="imglogor" alt="Logo Open North" src="./images/logo-park.png" />
            @*<h1 id="site-title"><span><a href="/" title="Bike To Fun" rel="home">Bike To Fun</a></span></h1>*@
            <!--h2 id="site-description">Where can you bike to?</h2-->
        </hgroup>

        <p id="splash-text"><span id="text-splash"></span></p>

        <nav id="main-menu" role="article">
            <ul>
                <li class="" id="about_link"><a href="#"><span id="about"></span></a></li>
                <li class="" id="contact_link"><a href="#"><span id="contact"></span></a></li>
            </ul>
        </nav>
        <!--
  <div class="search">
    
    <input type="text" name="location_search" placeholder="Search for a location&hellip;" />
  </div>
 -->
    </header>
    <!-- #branding -->

    <div id="map"></div>
    <div id="features">
        <div id="features-hd"><img src="~/Images/hd.png" /></div>
        <span>ARCHERY RANGE</span>
        <span>BASEBALL BATTING CAGE</span>
        <span>BASKETBALL COURT</span>
        <span>BEACH</span>
        <span>BOXING CENTER</span>
        <span>CAROUSEL</span>
        <span>COMMUNITY GARDEN</span>
        <span>CULTURAL CENTER</span>
        <span>DOG FRIENDLY AREA</span>
        <span>FITNESS CENTER</span>
        <span>GOLF COURSE</span>
        <span>GYMNASIUM</span>
        <span>ICESKATING</span>
        <span>MOUNTAIN BIKE TRAIL</span>
        <span>NATURE CENTER</span>
        <span>PLAYGROUND</span>
        <span>POOL (INDOOR)</span>
        <span>POOL (OUTDOOR)</span>
        <span>SKATE PARK</span>
        <span>TENNIS COURT</span>
        <span>TRACK</span>
        <span>VOLLEYBALL</span>
        <span>ZOO</span>
    </div>
    <div id="foo"></div>

    <script type="text/javascript">
        //$("#about").html(locale.menu.about);
        $("#contact").html(locale.menu.contact);
        //$("#text-splash").html(locale.menu.splash);
    </script>
</body>
</html>
